//------------------------------------------------------------------------------
// CENTER
//------------------------------------------------------------------------------

.app-rounded-content-box {
	.rounded-corners();
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 80px;
	
	h1 {
		margin-bottom: 4px;
		font-size: 15px;
	}
	
	p {
		font-size: 11px;
	}
}

#app-center {
	position: fixed;
	top: @app-north-height;
	left: @app-sidebar-width;
	bottom: 0px;
	right: 0px;
	
	#app-center-inner {	
	}
}